<body>
    <div>
        <form action="/", method="POST">
            <label for="naam"> Naam:</label>
            <input type="text" name="naam" value="">
            <input type="submit"> 
        </form>
    </div> 

    <form action="/formulier", method="POST">
    <input type="radio" name="doelen" value="Vet verliezen" id="Vet verliezen">
    <label for="Vet verliezen"> Vet verliezen</label>

    <input type="radio" name="doelen" value="Spieren opbouwen" id="Spieren opbouwen">
    <label for="Spieren opbouwen"> Spieren opbouwen</label>

    <input type="radio" name="doelen" value="Aankomen" id="Aankomen">
    <label for="Aankomen"> Aankomen</label>
    
    <input type="radio" name="doelen" value="Conditie verbeteren" id="Conditie verbeteren">
    <label for="Conditie verbeteren">Conditie verbeteren</label>
    <button type="submit"> Filter!</button>
    </form>

    <h1>Vind jouw Gymbuddy</h1>
{{#each persoon}}
    <div>
        <h2>{{this.name}}</h2>
        <p>{{this.doelen}}</p>
        <form action="/delete" method="post">
        <input  name="gymbuddy" type="hidden" value="{{this.name}}"/>
        <button type="submit">Verwijder</button>
        </form>
    </div>

    {{/each}}


    {{!-- <div>
        <img src="" alt="">
        <h2>Yeliz, 19</h2>
        <p>Vet verliezen</p>
    </div>

    <div>
        <img src="" alt="">
        <h2>Timo, 28</h2>
        <p>Vet verliezen</p>
    </div>

    <div>
        <img src="" alt="">
        <h2>Dennis, 29</h2>
        <p>Vet verliezen</p>
    </div>

    <div>
        <img src="" alt="">
        <h2>Emma, 25</h2>
        <p>Vet verliezen</p>
    </div>


     <div>
        <img src="" alt="">
        <h2>Bas, 22</h2>
        <p>Spieren opbouwen</p>
    </div>
    
    <div>
        <img src="" alt="">
        <h2>Mike, 24</h2>
        <p>Spieren opbouwen</p>
    </div>
    <div>
        <img src="" alt="">
        <h2>Charlie, 26</h2>
        <p>Spieren opbouwen</p>
    </div>
    
    <div>
        <img src="" alt="">
        <h2>Amber, 38</h2>
        <p>Spieren opbouwen</p>
    </div>

    

    <div>
        <img src="" alt="">
        <h2>Niki, 26</h2>
        <p>Aankomen</p>
    </div>

    <div>
        <img src="" alt="">
        <h2>Tim, 24</h2>
        <p>Aankomen</p>
    </div>
    <div>
        <img src="" alt="">
        <h2>Stefan, 18</h2>
        <p>Aankomen</p>
    </div>

    

    <div>
        <img src="" alt="">
        <h2>Salma, 19</h2>
        <p>Conditie verbeteren</p>
    </div>

    <div>
        <img src="" alt="">
        <h2>Anne, 37</h2>
        <p>Conditie verbeteren</p>
        <div>
        <img src="" alt="">
        <h2>Esra, 27</h2>
        <p>Conditie verbeteren</p>
    </div>

    <div>
        <img src="" alt="">
        <h2>Rogier, 23</h2>
        <p>Conditie verbeteren</p>
    </div> --}}
</body>
