<main>
    {{!-- <div>
        <form action="/", method="POST">
            <label for="naam"> Naam:</label>
            <input type="text" name="naam" value="">
            <input type="submit"> 
        </form>
    </div>  --}}
    <h1>Vind jouw Gymbuddy</h1>

    <form action="/formulier", method="POST">
    <input type="radio" name="doelen" value="Vet verliezen" id="Vet verliezen">
    <label for="Vet verliezen"> Vet verliezen</label>

    <input type="radio" name="doelen" value="Spieren opbouwen" id="Spieren opbouwen">
    <label for="Spieren opbouwen"> Spieren opbouwen</label>

    <input type="radio" name="doelen" value="Aankomen" id="Aankomen">
    <label for="Aankomen"> Aankomen</label>
    
    <input type="radio" name="doelen" value="Conditie verbeteren" id="Conditie verbeteren">
    <label for="Conditie verbeteren">Conditie verbeteren</label>
    <button type="submit"> Filter</button>
    </form>

    
{{#each persoon}}
    <div>
        <h2>{{this.name}}, {{this.leeftijd}}</h2>
        <p>{{this.doelen}}</p>
        <form action="/delete" method="post">
        <input  name="gymbuddy" type="hidden" value="{{this.name}}"/>
        <button type="submit">Verwijder</button>
        </form>
    </div>

    {{/each}}
</main>
