/********************************************
*********************************************
********************RESET********************
*********************************************
********************************************/
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

/********************************************
*********************************************
********************ROOT*********************
*********************************************
********************************************/
:root{
    --oranje: #FF7602;
    --blauw: #00A0E2;
    --zwart: #000000;
    --wit: #ffffff;
}

/********************************************
*********************************************
********************TEKST********************
*********************************************
********************************************/
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: .8em;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%)
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    margin-top: .5em;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    margin-top: .3em;
}

label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    display: flex;
    justify-content: flex-start;
    margin-left: 2em;
    margin-top: -1em;
}

/********************************************
*********************************************
******************KNOPPEN********************
*********************************************
********************************************/
button{
    color: var(--wit);
    background-color: var(--oranje);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    padding: .4em;
    border: none;
    border-radius: 4px;
    margin-top: .5em;
}
button:hover{
    color: var(--wit);
    background-color: var(--blauw);
}

div button:nth-of-type(1){
    background-color: var(--blauw);
    margin-right: 8.5em;
}

input[type=radio]{
    border: 2px solid var(--oranje);
    padding: 0.5em;
    -webkit-appearance: none;
}

input[type=radio]:checked {
    background: var(--oranje);
  }

 main{
     margin-top: 1em;
     display: flex;
     justify-content: center;
 }

/********************************************
*********************************************
*****************ACCOUNTS********************
*********************************************
********************************************/
img{
    width: 100%;
    height: auto;
}

div{
    margin-left: 9%;
    margin-right: 9%;
    margin-top: 5%;
    padding: 1em;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%)
}








/********************************************
*********************************************
************FILTER  IN MENU******************
*********************************************
********************************************/
/* main.showMenu{
    transform: translatex(0%);
    box-shadow: 0px 5px 100px var(--zwart);
    
}

main.showMenu form {
    width: 80%;
    padding: 2em 0 0;
    background: var(--white);
    list-style: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform: translatex(-100%);
    transition: .8s;
    z-index: 50;
}

main.showMenu form input {
    color: var(--main-grey);
    line-height: 1.8em;
    font-size: 1.2em;
    font-family: sans-serif;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: .25em;
    padding: .25em 1em;
} */