:root{
    --oranje: #EF8031;
    --blauw: #00A0E2;
    --zwart: #000000;
    --wit: #ffffff;
}




h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -1em;
    font-size: 1.3em;
}

label{
    font-family: Arial, Helvetica, sans-serif;
}

div{
    border: var(--blauw);
}

button{
    color: var(--wit);
    background-color: var(--oranje);
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: .3em;
    font-size: 1em ;
}
button:hover{
    color: var(--wit);
    background-color: var(--blauw);

}

